# dependencies (python)
src/venv_latency/*
!src/venv_latency/requirements.txt
.bash_history
.python_history
/v_webscraping
.viminfo
.vscode/*

# added by me: ignore the intermediates for the demo videos
*.webm
*.mp4

# added by me: Don't ignore the final demo movie
!demo.mp4 
